#woo_fattureincloud header {
    display: block;
    background: url(../image/woo_fattureincloud.png) no-repeat #FFFFFF;
    background-position: 20px center;
    padding: 60px;
}

#promo_premium {
    display: block;
    background: url(../image/comparazione_premium.jpg) no-repeat #FFFFFF;
    background-position: 120px center;
    padding: 120px;
    vertical-align: top;
    position: relative;
    top: 0;
    left: 0;


}




#fatture-elenco {
    float: right;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 15px;
    background-color: #FFFFFF;
}

#email-elenco {
    float: right;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 15px;
    background-color: #FFFFFF;
}
